<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/35b0bd04-fd84-4b5d-915e-829c903568ef/resourcegroups/OsmanProduction/providers/Microsoft.Web/sites/A7gezlyApi</ResourceId>
    <ResourceGroup>OsmanProduction</ResourceGroup>
    <ApiResourceId>/subscriptions/35b0bd04-fd84-4b5d-915e-829c903568ef/resourceGroups/OsmanProduction/providers/Microsoft.ApiManagement/service/FarragAbuelelaAPIManagement/apis/7agzapi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://a7gezlyapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>904a63fa-5a1f-433b-a7b3-cdeb2e5ea011</ProjectGuid>
    <MSDeployServiceURL>a7gezlyapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>A7gezlyApi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$A7gezlyApi</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>